<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bold.Licensing" version="3.3.31" targetFramework="net472" />
  <package id="BoldReports.WPF" version="3.3.31" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.1" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.2" targetFramework="net472" />
  <package id="Syncfusion.Chart.WPF.Classic" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Compression.Base" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.DocIO.Wpf" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Gauge.WPF" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Grid.WPF" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.GridCommon.Wpf" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Linq.Base" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.OfficeChart.Base" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Pdf.Wpf" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Presentation.Wpf" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.SfMaps.WPF" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF.Classic" version="19.2.0.44" targetFramework="net472" />
  <package id="Syncfusion.XlsIO.Wpf" version="19.2.0.44" targetFramework="net472" />
</packages>